.App {
  text-align: center;
}

.App-header {
  margin: 20px 0;
}

.App-headline {
  margin: 0;
  padding: 0;
}
.App-tagline {
  margin: 0;
  padding: 0;
}
.App-instructions {
  max-width: 620px;
  margin: 3em auto 0;
  color: rgba(0, 0, 0, 0.6)
}

.ShipIconOption {
  padding: 0;
  margin: 0;
}

.ShipIconOption-image {
  width: 1.5em;
  margin-right: 0.25em;
}

.ShipIconChip-image {
  width: 2em;
  border-radius: 100%;
}

.Controls {
  margin: 40px 0 80px;
}

.PointBreakdown {
  display: flex;
  align-items: flex-start;
  justify-content: space-around;
  max-width: 1050px;
  margin: 0 auto;
}
.PointBreakdown-victim,
.PointBreakdown-attacker {
  max-width: 420px;
  width: 50%;
  margin: 20px 20px 120px;
}
@media screen and (max-width: 620px) {
  .PointBreakdown {
    flex-direction: column;
    align-items: center;
  }
  .PointBreakdown-victim,
  .PointBreakdown-attacker {
    width: 100%;
  }
}
.PointBreakdown-headline {
  display: block;
  margin: 0;
  font-family: "Roboto","Helvetica","Arial",sans-serif;
  font-weight: 400;
  font-size: 1.5rem;
  line-height: 1.334;
  letter-spacing: 0em;
  padding-bottom: 0.45em;
  text-align: center;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-color: rgba(0, 0, 0, 0.1);
}
.ItemList .ItemList-item {
  position: relative;
  padding: 1em 0 0;
}

.ItemList .ItemList {
  margin-left: 1.2em;
  padding-left: 1.2em;
  border-bottom: none;
  border-left-style: solid;
  border-left-width: 1px;
  border-image: 
    linear-gradient(
      to bottom, 
      rgba(0, 0, 0, 0.1),
      rgba(0, 0, 0, 0.1) 75%,
      rgba(0, 0, 0, 0)
    ) 1 100%;
}
.ItemList .ItemList .ItemList-item {
  position: relative;
}
